<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
      body  {
        background-image: url("https://wallpapercave.com/wp/wp10962137.png");
        background-color: #cccccc;
      }
  </style>
    
  </head>

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

<!-- {% block content %}   -->

<div class = "new_task">
    
    <h1>Create Task</h1>  

        <form method="POST" action="" >  
            {% csrf_token %}  
            <label for="Task_Name">Task Name: </label> 
            <input type="text" id="Task_Name" name="Task_Name">
            <label for="Task_Decription">Task Decription: </label> 
            <input type="text" id="Task_Decription" name="Task_Description">
            <button type="submit" class="btn btn-primary">add</button>
        </form>


    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  
<!-- {% endblock content %} -->