{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<div class = "new_task">
    
    <h1>Create Task</h1>  

        <form method="POST" action="" >  
            {% csrf_token %}  
            <label for="Task_Name">Task Name: </label> 
            <input type="text" id="Task_Name" name="Task_Name">
            <label for="Task_Decription">Task Decription: </label> 
            <input type="text" id="Task_Decription" name="Task_Description">
            <button type="submit">add</button>
        </form>


    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  
{% endblock content %}